<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

      <ul class="topnav">
        <li><a href="/">HOME</a></li>
        <li><a href="/visit">VISIT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a class ="active" href="/about">BARBERS</a></li>
        <li class="right"><a href="/contacts">CONTACTS</a></li>
      </ul>

<h5>Responsive Form</h5>


</body>
</html>

