<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" type="text/css" href="./styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

      <ul class="topnav">
        <li><a class="active" href="#home">HOME</a></li>
        <li><a href="/visit">VISIT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/about">BARBERS</a></li>
        <li class="right"><a href="/contacts">CONTACTS</a></li>
      </ul>

      <div style="padding:0 25px;">
        <h1>Welcome to our BARBER-SHOP!</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
            nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. 
            Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit 
            lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div>
                               
  </body>

</html>
