<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

body {margin: 0;
     background: url(./large.jpg) no-repeat center fixed; 
     background-size: cover;
	
}
</style>
<body>
<h1><%= @title %></h1>
<p><%= @message %></p>
</body>
</head>
</html>


