<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" type="text/css" href="./styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

      <ul class="topnav">
        <li><a href="/">HOME</a></li>
        <li><a href="/visit">VISIT</a></li>
        <li><a class="active" href="/services">SERVICES</a></li>
        <li><a href="/about">BARBERS</a></li>
        <li class="right"><a href="/contacts">CONTACTS</a></li>
      </ul>

      <div style="padding:0 25px;">
        <h5>MAKE THIS YOUR SHOP!</h5>
      </div>

      <div style="overflow-x:auto;">
  <table>    
    <tr>
      <td>HAIRCUT REG.</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>HAIRCUT & STYLE</td>
      <td>$25 & up</td>
    </tr>
    <tr>
      <td>HOT SHAVES</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>RAZOR FADES</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>BEARD TRIM CLIPPERS</td>
      <td>$12</td>
    </tr>
    <tr>
      <td>BEARD TRIM RAZOR</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>HAIR WASH</td>
      <td>$6</td>
    </tr>

  </table>
</div>

                               
  </body>

</html>